:root {
  --tamna-pozadina: #212429;
  --glavna-pozadina: #f9f9fb;
  --sivi-tekst: #999;
  --shadow: 3px 3px 2px #f5f5f7;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--glavna-pozadina);
}

img {
  width: 100%;
}

h1 {
  font-size: 2.7rem;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
}

/* Header i navigacija */

header {
  background-color: var(--tamna-pozadina);
}

nav {
  width: 94%;
  margin: 0 auto;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-toggle {
  width: 6.5rem;
}

.main-nav {
  position: absolute;
  list-style: none;
  width: 94%;
  top: -100%;
  background-color: var(--tamna-pozadina);
}

.main-nav.active {
  top: 6rem;
}

.main-nav li {
  margin: 1.5rem;
}

.main-nav a {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s ease;
}

.main-nav a:hover {
  border-bottom: 1px solid #f5f5f7;
}

i[class*="fa"] {
  font-size: 2rem;
  cursor: pointer;
}

.ikone {
  display: flex;
}

nav > a {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

nav i {
  border-right: 1px solid #3b3b3c;
  padding: 2.2rem;
  transition: color 0.5s linear;
}

nav i:first-child {
  border-left: 1px solid #3b3b3c;
}

nav i:hover {
  color: var(--sivi-tekst);
}

/* Hero sekcija */

.hero {
  background: linear-gradient(
    var(--tamna-pozadina) 50%,
    var(--glavna-pozadina) 50%
  );
}

.hero__content {
  width: 94%;
  margin: 0 auto;
  min-height: 70vh;
  background: url(./slike/naslovna.jpg) no-repeat center center/cover fixed;
  color: #fff;
  text-shadow: 1px 1px 4px #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8%;
  letter-spacing: 5px;
}

.hero--title {
  margin-top: 3rem;
}

.hero--subtitle {
  order: -1;
  font-size: 1.8rem;
  font-weight: 600;
}

.hero--button {
  background: #fff;
  width: 18rem;
  height: 7rem;
  margin-top: 9rem;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: background 1s linear, color 1.5s ease;
  cursor: pointer;
}

.hero--button:hover {
  background: var(--tamna-pozadina);
  color: #fff;
}

/* Main sekcija */

main {
  width: 94%;
  margin: 0 auto 14rem;
}

/* Search sekcija */

.search {
  background-color: #f7f7f7;
  display: flex;
  padding: 2.7rem 0;
  font-size: 1.6rem;
  line-height: 6rem;
}

.search p {
  flex-basis: 17%;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
}

.search form {
  display: flex;
  flex-basis: 83%;
}

.search form::before {
  content: "\f002";
  font: var(--fa-font-solid);
  color: #fff;
  background-color: var(--tamna-pozadina);
  line-height: 6rem;
  width: 6rem;
  text-align: center;
}

.input__polje {
  flex-basis: 80%;
  padding-left: 2rem;
}

.input__polje::placeholder {
  color: #bbb;
  letter-spacing: 3px;
}

.input__button {
  flex-basis: 20%;
  background-color: var(--tamna-pozadina);
  color: #fff;
  letter-spacing: 3px;
  font-weight: 700;
  margin-left: 3.5rem;
  transition: background 1s linear, color 1.5s ease;
  cursor: pointer;
}

.input__button:hover {
  background: #eee;
  color: var(--tamna-pozadina);
}

/* Main - KartiÄna sekcija */

.index-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
  gap: 3.5rem;
}

.kartica {
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: #fff;
  border: 1px solid #f8f8f9;
}

.kartica__info {
  text-align: center;
}

.kartica__info p:first-of-type {
  margin-top: 6.5rem;
}

.kartica__info h2 {
  font-size: 2.5rem;
  margin: 2.4rem 0;
}

.kartica__info p {
  color: var(--sivi-tekst);
  font-size: 1.6rem;
}

.kartica__info button {
  background: transparent;
  margin: 4.5rem 0;
  font-size: 2.2rem;
  letter-spacing: 3px;
  padding: 2rem;
  border-left: 2px solid #e3e3e3;
  border-right: 2px solid #e3e3e3;
  transition: background 1s ease;
  cursor: pointer;
}

.kartica__info button:hover {
  background: #e3e3e3;
}

.kartica__social {
  display: flex;
  justify-content: space-around;
  border-top: 2px solid #f8f8f9;
  padding: 3rem 0;
}

.kartica__social p,
.kartica--icons {
  font-size: 2rem;
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.kartica__info .kartica--no--image {
  color: #464646;
  margin-top: 4.5rem;
  letter-spacing: 2px;
  line-height: 2;
  padding: 0 2rem;
}

.tamna-kartica {
  background-color: var(--tamna-pozadina);
}

.tamna-kartica .kartica--no--image {
  color: #fff;
  margin-bottom: 4.5rem;
}

/* Footer sekcija */

footer {
  background-color: var(--tamna-pozadina);
}

.footer-container {
  width: 94%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
  gap: 3.5rem;
  padding-top: 7rem;
  color: #fff;
}

.footer-container h2 {
  margin-bottom: 4.5rem;
}

.footer-container p {
  font-size: 1.6rem;
  line-height: 2;
}

.footer-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3px;
}

footer hr {
  margin: 3rem 0;
  border: 1px solid #616366;
}

.copyright {
  background-color: #17191c;
  text-align: center;
  color: #616366;
  font-size: 1.6rem;
  line-height: 2;
}

.copyright a {
  color: #616366;
  text-decoration: none;
}

/* About stranica - main sekcija */

.about-main {
  width: 94%;
  margin: 11rem auto;
  display: flex;
  gap: 3rem;
  font-size: 1.6rem;
}

.about-article {
  flex-basis: 75%;
  background-color: #fff;
  text-align: center;
}

.about-article > p:last-of-type {
  padding-bottom: 6.5rem;
}

.about-naslov {
  display: flex;
  flex-direction: column;
  padding: 0 7rem;
}

.about-naslov p:first-of-type {
  order: -1;
  color: #a7a7a7;
  margin: 7rem 0 3.5rem;
}

.about-info-kartica {
  color: #a7a7a7;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0 7rem;
}

.about-info-kartica p {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin: 3rem 0 4rem;
}

.about-info-kartica i {
  color: #464646;
}

.about-article > p {
  text-align: justify;
  letter-spacing: 2px;
  margin-bottom: 4.5rem;
  line-height: 1.5;
  color: #464646;
  padding: 0 7rem;
}

.about-article > blockquote {
  letter-spacing: 2px;
  margin: 0 15% 4.5rem;
  line-height: 1.5;
}

/* About aside sekcija */

.about-aside {
  flex-basis: 25%;
  background-color: #fff;
  padding: 4.5rem 3.5rem 3rem;
}

.about-aside form {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 5.5rem;
}

.about-aside input[type="text"] {
  background-color: var(--glavna-pozadina);
}

.about-aside input[type="text"]::placeholder {
  padding-left: 2rem;
}

.about-aside input[type="submit"] {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  padding: 2rem;
  background-color: #212121;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

aside h2 {
  text-align: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid #f8f8f8;
  margin-bottom: 3.5rem;
}

.category-links {
  display: flex;
  justify-content: space-between;
  line-height: 3;
  border-bottom: 1px solid #f8f8f8;
}

.category-links a,
.category-links span {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s ease;
}

.category-links a:hover,
.category-links span:hover {
  border-bottom: 1px solid var(--tamna-pozadina);
}
